    
    body {
      margin: 0;
      height: 100vh;
      background-color: #FFFFFF; /* color inicial */
      animation: respirar 8s infinite alternate;
      color: #111; /* texto visible sobre fondo oscuro */
      font-family: "Segoe UI", sans-serif;
      text-align: center;
      padding: 2% 30%;}
      @media (max-width: 700px){body {padding: 2% 10%;}
}

/* Efecto de fondo respirando */
   @keyframes respirar {
0%   { background-color: #FFFFFF; }
25%  { background-color: #EEF8FF; }
50%  { background-color: #DDF2FF; }
75%  { background-color: #EEF8FF; }
100% { background-color: #FFFFFF; }
}

/* Configuración de enlaces */
.l {
      color: inherit;          /* mismo color que el texto */
      text-decoration: none;   /* sin subrayado */
      cursor: pointer;         /* NO aparece la manito */
      pointer-events: auto;    /* mantiene el click activo */
    }
